Django==2.2.20
django-crontab==0.7.1
et-xmlfile==1.0.1
jdcal==1.4.1
minimalmodbus==1.0.2
openpyxl==3.0.2
pyserial==3.4
python-crontab==2.3.9
python-dateutil==2.8.0
pytz==2019.3
six==1.12.0
sqlparse==0.3.0
